/* Footer-tyylit */
.footer {
    display: flex; /* Käytetään flexbox-asettelua */
    flex-direction: column; /* Asetetaan elementit pystysuoraan */
    align-items: center; /* Keskitetään elementit vaakasuunnassa */
    background-color: #282c34; /* Asetetaan taustaväri */
    color: white; /* Asetetaan tekstin väri */
    padding: 20px 0; /* Lisätään täytettä ylä- ja alapuolelle */
}

.footer-icons {
    display: flex; /* Käytetään flexbox-asettelua */
    flex-direction: column; /* Asetetaan elementit pystysuoraan */
    align-items: flex-start; /* Asetetaan ikonit ja tekstit vasemmalle laidalle */
    margin-bottom: 10px; /* Lisätään marginaali alapuolelle */
    width: 90%; /* Asetetaan leveys */
    padding-left: 20px; /* Lisätään täytettä vasemmalle */
}

.footer-text-label {
    margin-bottom: 5px; /* Lisätään marginaali alapuolelle */
    font-weight: bold; /* Asetetaan lihavointi */
}

.footer-icon-text {
    display: flex; /* Käytetään flexbox-asettelua */
    align-items: center; /* Keskitetään elementit pystysuunnassa */
    margin-bottom: 10px; /* Lisätään marginaali alapuolelle */
}

.footer-icon-text a {
    color: white; /* Asetetaan linkin väri */
    margin-right: 10px; /* Lisätään marginaali oikealle */
}

.footer-caption-link {
    color: white; /* Asetetaan linkin väri */
    text-decoration: none; /* Poistetaan alleviivaus */
}

.footer-caption-link:hover {
    text-decoration: underline; /* Lisätään alleviivaus hover-tilassa */
}

.footer-caption {
    margin-top: 5px; /* Lisätään marginaali yläpuolelle */
}