/* Navigointivalikon tyyli */
.menu {
    background-color: white; /* Asetetaan taustaväri valkoiseksi */
    padding: 7px; /* Lisätään täytettä */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lisätään varjo */
    width: 100%; /* Asetetaan leveydeksi 100% */
    z-index: 1000; /* Asetetaan z-indeksi */
    position: static; /* Asetetaan staattinen sijainti */
    top: auto; /* Asetetaan yläreunan sijainti automaattiseksi */
    transition: position 0.3s ease-in-out; /* Lisätään siirtymäefekti */
    display: block; /* Näytetään elementti lohkona */
    margin: 0; /* Poistetaan marginaali */
    box-sizing: border-box; /* Sisällytetään reunukset ja täytteet elementin kokonaisleveyteen ja -korkeuteen */
}

/* Kiinnitetyn navigointivalikon tyyli */
.menu.fixed {
    position: fixed; /* Asetetaan kiinteä sijainti */
    top: 0; /* Asetetaan yläreunaan */
    left: 0; /* Asetetaan vasempaan reunaan */
    right: 0; /* Asetetaan oikeaan reunaan */
    box-sizing: border-box; /* Sisällytetään reunukset ja täytteet elementin kokonaisleveyteen ja -korkeuteen */
}

/* Placeholder-elementin tyyli */
.menu.placeholder {
    height: 50px; /* Asetetaan korkeudeksi 50px */
    display: none; /* Piilotetaan elementti */
    box-sizing: border-box; /* Sisällytetään reunukset ja täytteet elementin kokonaisleveyteen ja -korkeuteen */
}

/* Näytetään placeholder, kun valikko on kiinnitetty */
.menu.fixed ~ .menu.placeholder {
    display: block; /* Näytetään elementti */
}

/* Navigointivalikon lista */
.menu ul {
    list-style-type: none; /* Poistetaan luettelomerkit */
    margin: 0; /* Poistetaan marginaali */
    padding: 0; /* Poistetaan täyte */
    display: flex; /* Käytetään flexbox-asettelua */
    justify-content: space-around; /* Jakaa tilan tasaisesti elementtien välillä */
    align-items: center; /* Keskitetään elementit pystysuunnassa */
    flex-wrap: wrap; /* Sallitaan elementtien kääriytyminen */
}

/* Navigointivalikon listan kohde */
.menu li {
    margin: 0; /* Poistetaan marginaali */
    padding: 0; /* Poistetaan täyte */
}

/* Navigointivalikon linkki */
.menu a {
    text-decoration: none; /* Poistetaan tekstin alleviivaus */
    color: black; /* Asetetaan tekstin väri mustaksi */
    font-size: 18px; /* Asetetaan fonttikoko */
    font-weight: lighter; /* Asetetaan fontin paino kevyemmäksi */
    padding: 10px 15px; /* Lisätään täytettä */
}

/* Media query pienemmille näytöille */
@media (max-width: 768px) {
    .menu ul {
        flex-direction: column; /* Asetetaan elementit pystysuoraan */
        align-items: center; /* Keskitetään elementit vaakasuunnassa */
        width: 100%; /* Asetetaan leveydeksi 100% */
    }

    .menu li {
        margin: 10px 0; /* Lisätään marginaali ylä- ja alapuolelle */
    }

    .menu a {
        font-size: 16px; /* Asetetaan fonttikoko pienemmäksi */
    }
}