/* Pääosioiden säiliö */
.sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Pääosioiden kontti */
.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap; /* antaa toimia pienemmillä näytöillä */
}

/* Yksittäinen pääosio */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #fdda10;
    border-radius: 10px;
    background-color: #f9f9f9;
    flex: 1 1 300px; /* antaa toimia pienemmillä näytöillä */
}

/* Pääosion kuva */
.section-image img {
    width: 100%;
    height: auto; /* Skaalaa kuvan korkeus suhteessa leveyteen */
    object-fit: cover;
}

/* Pääosion teksti */
.section-text {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

/* Pääosion otsikko */
.section-title {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
}

/* Lisäosioiden kontti */
.small-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    flex-wrap: wrap; /* antaa toimia pienemmillä näytöillä */
}

/* Yksittäinen lisäosio */
.small-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #fdda10;
    border-radius: 10px;
    background-color: #f9f9f9;
    flex: 1 1 200px; /* antaa toimia pienemmillä näytöillä */
}

/* Lisäosion kuva */
.small-section-image img {
    width: 100%;
    height: auto; /* Skaalaa kuvan korkeus suhteessa leveyteen */
    object-fit: cover;
}

/* Lisäosion teksti */
.small-section-text {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

/* Lisäosion otsikko */
.small-section-title {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .sections, .small-sections {
        flex-direction: column;
        align-items: center;
    }

    .section, .small-section {
        margin: 10px 0;
    }
}