.menu3 {
    background-color: white;
    padding: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    position: static;
    top: auto;
    transition: position 0.3s ease-in-out;
    display: block;
    margin: 0;
    box-sizing: border-box;
}

.menu3.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.menu3.placeholder {
    height: 50px;
    display: none;
    box-sizing: border-box;
}

.menu3.fixed ~ .menu2.placeholder {
    display: block;
}

.menu3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu3 li {
    margin: 0;
    padding: 0;
}

.menu3 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: lighter;
    padding: 10px 15px;
}

@media (max-width: 768px) {
    .menu3 ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu3 li {
        margin: 10px 0;
    }

    .menu3 a {
        font-size: 16px;
    }
}